{% if scopedSearch %}
  <link href="https://assets.publishing.service.gov.uk/frontend/application-a559d90861a89ed9111226efc8c32096233d5540d3ecd7ee25708910b03e4f2b.css" media="screen" rel="stylesheet">
{% endif %}

{% if presentedContent.isWhitehall %}
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-704a08450e1cb44cc56c3de0a7ff428210953c963a37eadd223c48fc04230ca9.css">
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government/assets/frontend/base-c6b8b520d24a2faa79a3ce3212c74cebdc70f6bcabde4fa303fc419f488a972d.css">
{% elif presentedContent.isHtmlManual %}
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/header-footer-only-3c36a9943463b65abca953dc81d765effe465b992832a915cbb9b430c6617dba.css">
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/manuals-frontend/application-b95863706b9b7e03d79fb89774b5b8dc.css">
{% else %}
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-8a12287bbfbbd5578bce466aa22d77dd8767752f48ca98bf3c281463c25a240a.css">
{% endif %}

<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-29becde385b2c3d5dd925e3c93c4bdc3677e0e7320e5aedffcb571bf049b4119.css">
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-c384697ecdcc95a0ff2695ee4b16c5609cbce7f61ede5482cc278dc458695548.css">

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />