// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
// @import 'patterns/unbranded';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#whitehall-wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  #page {
    padding: 0;
  }

  .detailed-guides-show {
    .block-2 {
      width: 100%;
    }

    .block-3 {
      width: 100%;
    }

    .document-footer-meta {
      padding-left: 15px;
      padding-right: 15px;
    }

    .aside-more-like-this {
      h1 {
        margin-left: 15px;
        margin-right: 15px;
      }

      section .inner {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  #page.consultation {
    .status-block {
      margin-left: 15px;
      margin-right: 15px;
    }

    .original-consultation {
      margin-left: 0;
      margin-right: 0;
    }

    .consultation-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .document-page {
    .block-3 {
      width: 100%;
    }

    .block-4 {
      width: 100%;
    }
  }

  .document-collection-page {
    .block-2 {
      width: 100%;
    }

    .block-3 {
      width: 100%;
    }
  }

  .statistical-data-set {
    .statisticaldataset {
      .block-2 {
        display: none;
      }

      .block-3 {
        width: 100%;
      }
    }
  }

  .heading-extra {
    display: none;
  }

  .headings-block {
    .heading-with-extra {
      width: 100%;
    }

    .inner-heading {
      padding: 0;
    }
  }

  .heading-block {
    .head-section {
      width: 100%;
      float: none;

      h1 {
        padding: 0 0 $gutter 0;
      }
    }

    .content {
      float: none;
      width: 100%;

      article {
        padding: 0;
      }
    }
  }

  .inner-block {
    padding: 0!important;
  }

  .metadata-list {
    width: 100%;
  }

  .document-share-links {
    margin-left: 0;
    padding-left: 0;
  }

  .history-status-block {
    margin: 30px 0;
  }



}

.statistics-announcement {
  .column-two-thirds {
    width: 100%;
  }
}

// fix breadcrumbs

.breadcrumbs {
   // position: absolute;
   max-width: 960px;
   z-index: 100;
   a {
      color: black;
      text-decoration: underline;
   }
}
#whitehall-wrapper {
   .breadcrumbs {
      a {
         color: black;
         text-decoration: underline;
      }
   }
}

// add minimum height to header blocks, align the headers

#wrapper {
   position: relative;
   max-width: 960px;
   margin: 0 auto;

  .govuk-title,
   .page-header {
     min-height: 45vh;
     margin-bottom: 0;
   }
   .page-header h1 {
      padding-top: 55px;
   }
   .statistics-announcement .govuk-title,
   header.page-header div {
      margin-top: 0;
      margin-bottom: 0;
   }
   .statistics-announcement {
      .context {
         padding-top: 45px;
         margin-bottom: 5px;
      }
      .govuk-title h1 {
         font-size: 48px;
         line-height: 50px;
      }
   }
}

#whitehall-wrapper {
  .headings-block {
     min-height: 45vh;
     .heading-with-extra {
         h1 {
            font-size: 48px;
            line-height: 50px;
         }
     }
  }
}

// manuals
.hmrc-internal-manuals-frontend-content {
  .outer-block {
    padding: 0;
  }

  .inner-block {
    padding: 0 15px;
  }
}

#wrapper .page-header h1,
#wrapper .statistics-announcement .context,
#wrapper .statistics-announcement h1,
#whitehall-wrapper .heading-with-extra,
#manuals-frontend article {
   position: relative;
   // top: 5vh;
}

// align related nav to the content

.related-container {
   padding-top: 45vh;
   margin-top: 18px;
}

.html-manual {
  .related-container {
    padding-top: $gutter;
  }
}

.primary-metadata,
#whitehall-wrapper .metadata-list,
.status-block,
.history-status-block {
   display: none;
}


// related nav styles

#whitehall-wrapper {
   .whitehall-content {
      float: left;
      @include grid-column(2/3);
   }
   .related-container {
     @include grid-column(1/3);
   }
}

.hack-datestamp {
   font-size: 14px;
   line-height: 20px;
   color: #666;
}

.related {
   position: relative;
/*
   background: linear-gradient(to bottom,
      #ddd 0%,
      #ddd 19%,
      #fff 20%,
      #fff 100%);
   background-size: 100% 5px;
*/
   border-top: 10px solid #005ea5;
   padding-top: 5px;

   div {
      padding-bottom: 9px;
   }
   h2 {
      padding-top: 19px;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 7px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: bold;
   }
   p {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
   }
   ul {
      padding: 10px 0 5px 20px;
   }
   li {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin: 0;
      list-style: disc;
      display: none;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
         display: list-item;
      }
      a {
         text-decoration: none;
         &:hover, &:focus {
            text-decoration: underline;
         }
      }
   }
   .reveal {
      margin-left: 20px;
      font-size: 16px;
      line-height: 20px;
      display: block;
      text-decoration: underline!important;
   }
}

/* taxon layout */

#content.taxonomy {
  h1 {
    box-sizing: border-box;
    display: block;
    min-height: 30vh;
    padding-top: 12.5vh;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    &+p {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 30px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;

    padding-bottom: $gutter;
  }

  h3 {
    font-size: 19px;
    font-weight: bold;

    padding-bottom: $gutter-one-third;
  }

  .page-header {
    @include grid-column(2/3);

    .sub-heading {
      font-weight: normal;
      font-size: 24px;

      display: block;

      a {
        color: $secondary-text-colour;
        text-decoration: none;
      }
    }
  }

  .full-width-column {
    @include grid-column(1);
  }

  .child-topics-list {
    ul {
      list-style-type: none;
      @extend %grid-row;

      li {
        @include grid-column(1/3);
        padding-bottom: $gutter;
        min-height: 300px;
      }
    }
  }

  .parent-topic-contents {
    @include grid-column(2/3);
    
    .topic-content {
      padding-bottom: $gutter;

      ul {
        padding-bottom: $gutter-one-third;

        li {

        }
      }
    }
  }

  .child-topic-contents {
    .topic-content {
      ul {
        li {
          padding-bottom: $gutter-one-third;

          h3 {
            padding-bottom: 0;
          }

          a {

          }
        }
      }
    }
  }


  p.done {
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    margin-left: 50%;
    width: 100%;
  }
  .service-list {
    position: relative;
    clear: both;
    padding-top: 60px;
    &:before {
      content: "1";
      font-size: 80px;
      line-height: 80px;
      font-weight: bold;
      position: absolute;
      top: 55px;
      left: 0;
      width: 50%;
      text-align: center;
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
    &:nth-child(4)::before {
      content: "4";
    }
    &:nth-child(5)::before {
      content: "5";
    }
    &:nth-child(6)::before {
      content: "6";
    }
    h2 {
      padding-bottom: 10px;
      margin-left: 50%;
    }
    p {
      margin: 0;
      margin-left: 50%;
      padding-bottom: 10px;
    }
    ul {
      position: relative;
      margin: 0;
      margin-left: 50%;
      width: 100%;
      list-style: none;
      &:before {
        content: ".";
        color: transparent;
        position: absolute;
        background: black;
        top: 10px;
        left: 8px;
        bottom: 0;
        width: 1px;
      }
      &:after {
        content: ".";
        color: transparent;
        position: absolute;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(-45deg);
        bottom: 0;
        left: 3px;
        width: 10px;
        height: 10px;
      }
    }
    li {
      position: relative;
      font-size: 19px;
      line-height: 25px;
      padding-bottom: 10px;
      padding-left: 30px;
      &:before {
        content: "•";
        text-shadow: 0 3px #ffffff,  0 -3px #ffffff;
        position: relative;
        display: inline-block;
        width: 25px;
        margin-left: -25px;
      }
      &:last-child {
        padding-bottom: 30px;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
