// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

@import 'modules/subsections';
@import 'breadcrumbs';

// Nicer underlines in iOS / OSX Safari
a {
  text-decoration-skip: ink;
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.list-iterations {
  li {
    border-bottom: 1px solid $border-colour;
    margin-bottom: $gutter;
  }

  h2 {
    @include bold-24;
  }

  .date {
    color: $secondary-text-colour;
  }
}

.js-show {
  display: none;
}

.js-enabled .js-show {
  display: block;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#content {
  margin: 0;

  @include media(tablet) {
    margin: 0;
  }
}

#whitehall-wrapper {
  @extend %site-width-container;

  #page {
    padding: 0;
  }

  .detailed-guide, .document-collection, .publication {
    @include grid-column(2/3);

    .govuk-breadcrumbs {
      display: none;
    }

    .column-two-thirds {
      width: 100%;
    }

    .sidebar-with-body {
      .column-third {
        display: none;
      }
    }

    .offset-one-third {
      margin-left: 0;
    }

    .sticky-element {
      display: none;
    }
  }

  #page.consultation {
    .status-block {
      margin-left: 15px;
      margin-right: 15px;
    }

    .original-consultation {
      margin-left: 0;
      margin-right: 0;
    }

    .consultation-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .document-page {
    .block-3 {
      width: 100%;
    }

    .block-4 {
      width: 100%;
    }
  }

  .document-collection-page {
    .block-2 {
      width: 100%;
    }

    .block-3 {
      width: 100%;
    }
  }

  .statistical-data-set {
    .statisticaldataset {
      .block-2 {
        display: none;
      }

      .block-3 {
        width: 100%;
      }
    }
  }

  .heading-extra {
    display: none;
  }

  .headings-block {
    .heading-with-extra {
      width: 100%;
    }

    .inner-heading {
      padding: 0;
    }
  }

  .heading-block {
    .head-section {
      width: 100%;
      float: none;

      h1 {
        padding: 0 0 $gutter 0;
      }
    }

    .content {
      float: none;
      width: 100%;

      article {
        padding: 0;
      }
    }
  }

  .inner-block {
    padding: 0!important;
  }

  .metadata-list {
    width: 100%;
  }

  .document-share-links {
    margin-left: 0;
    padding-left: 0;
  }

  .history-status-block {
    margin: 30px 0;
  }



}

.statistics-announcement {
  .column-two-thirds {
    width: 100%;
  }
}

// fix breadcrumbs

.breadcrumbs {
  @include breadcrumbs;

   li.current {
     a {
       color: $secondary-text-colour;
       text-decoration: none;
     }
   }
}
#whitehall-wrapper {
   .breadcrumbs {
      @include breadcrumbs;

      .current {
        a {
          color: $secondary-text-colour;
          text-decoration: none;
        }
      }
   }
}

// add minimum height to header blocks, align the headers

#wrapper {
  @extend %site-width-container;

  .govuk-title,
  .page-header {
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter * 1.5;
    }

    h1 {
      padding-top: 0;
    }

    .context {
      margin-bottom: 5px;
    }
  }
}

#whitehall-wrapper {
  .headings-block {
    .heading-with-extra {
      margin-top: $gutter-half;
      padding-top: 0;

      @include media(tablet) {
        margin-top: $gutter * 1.5;
      }

      h1 {
        @include bold-48;
      }

      .type {
        @include core-24;
        color: $secondary-text-colour;
        margin-bottom: 5px;
      }
    }
  }

  .govuk-title {
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter * 1.5;
    }

    h1 {
      padding-top: 0;
    }

    .context {
      margin-bottom: 5px;
    }
  }
}

// manuals
.hmrc-internal-manuals-frontend-content {
  .outer-block {
    padding: 0;
  }

  .inner-block {
    padding: 0 15px;
  }
}

.govuk-metadata,
.related-information,
.history-information,
.primary-metadata,
#whitehall-wrapper .metadata-list,
.status-block,
.history-status-block {
   display: none;
}

.content-block {
  .nav-tabs {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
    }
  }
}


// related nav styles

#whitehall-wrapper {
  .whitehall-content {
    @include grid-column(2/3);
  }
}

.related-container {
  @include grid-column(1/3);
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }
}

.related {
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  div {
    padding-bottom: 9px;
  }

  h2 {
    @include bold-19;
    margin-bottom: $gutter-half;
  }
  p {
    @include core-16;
  }

  h3 {
    @include bold-19
  }

  ul {
    margin-bottom: $gutter-half;
  }

  li {
    margin-left: 0;
    margin-bottom: $gutter-one-third;
    list-style: none;
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  .reveal {
    display: block;
    font-weight: bold;
    text-decoration: underline!important;
  }
}

#whitehall-wrapper {
  .related {
    a {
      text-decoration: underline;
    }
  }
}

/* taxon layout */

#content.taxonomy {
  @extend %site-width-container;
}

.taxonomy {
  h1 {

    &+p {
      @include core-24;
    }
  }

  h2 {
    @include bold-24();

    margin-top: $gutter * 1.5;
    margin-bottom: $gutter;

    @include media(mobile) {
      margin-top: $gutter;
      margin-bottom: $gutter;
    }

    &.subsection__title {
      margin: 0;
    }
  }

  h3 {
    @include bold-19;

    padding-bottom: 0;

    @include media(tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  .description {
    margin-bottom: $gutter;
  }

  .govuk-title {
    .context {

      a {
        color: $text-colour;
        text-decoration: underline;

        &:before {
          content: " ";
          display: inline-block;
          height: 0;
          width: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid $black;
          margin-right: 10px;

        }
      }
    }
  }

  .full-width-column {
    @include grid-column(1);
  }

  .child-topics-list {
    ul {
      list-style-type: none;
      @extend %grid-row;

      li {
        @include grid-column(1/3);
        padding-bottom: $gutter;

        @include media(tablet) {
          min-height: (5 * $gutter);
          padding-bottom: $gutter * 1.5;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }

      li:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  .parent-topic-contents {

    @include grid-column(2/3);

    .topic-content {
      padding-bottom: $gutter;

      ul {
        padding-bottom: $gutter-one-third;

        li {
            margin-bottom: $gutter;

          h3 {
            padding-bottom: 0;
          }
        }
      }

      h2 {
        margin-bottom: $gutter-half;

        + p {
          margin-bottom: $gutter;
        }
      }
    }
  }

  .topic-navigation {
    li {
      padding-bottom: 5px;
      // padding-left: 20px;
      &.child-topic:before {
        content: "» ";
        color: $secondary-text-colour;
      }
    }
  }

  .child-topic-contents {
    .topic-content {
      ul {
        li {
          margin-bottom: $gutter;

          h3 {
            padding-bottom: 0;
          }
        }
      }

    }
  }

  .subsection__list-item {
    a {
      font-weight: bold;
    }
  }
}
