// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

@import 'modules/subsections';

// Nicer underlines in iOS / OSX Safari
a {
  text-decoration-skip: ink;
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.list-iterations {
  li {
    border-bottom: 1px solid $border-colour;
    margin-bottom: $gutter;
  }

  h2 {
    @include bold-24;
  }

  .date {
    color: $secondary-text-colour;
  }
}

.js-show {
  display: none;
}

.js-enabled .js-show {
  display: block;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#content {
  margin: 0;

  @include media(tablet) {
    margin: 0;
  }
}

#whitehall-wrapper {
  @extend %site-width-container;

  #page {
    padding: 0;
  }

  .detailed-guide {
    @include grid-column(2/3);

    .govuk-breadcrumbs {
      display: none;
    }

    .column-two-thirds {
      width: 100%;
    }

    .sidebar-with-body {
      .column-third {
        display: none;
      }
    }

    .sticky-element {
      display: none;
    }
  }

  #page.consultation {
    .status-block {
      margin-left: 15px;
      margin-right: 15px;
    }

    .original-consultation {
      margin-left: 0;
      margin-right: 0;
    }

    .consultation-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .document-page {
    .block-3 {
      width: 100%;
    }

    .block-4 {
      width: 100%;
    }
  }

  .document-collection-page {
    .block-2 {
      width: 100%;
    }

    .block-3 {
      width: 100%;
    }
  }

  .statistical-data-set {
    .statisticaldataset {
      .block-2 {
        display: none;
      }

      .block-3 {
        width: 100%;
      }
    }
  }

  .heading-extra {
    display: none;
  }

  .headings-block {
    .heading-with-extra {
      width: 100%;
    }

    .inner-heading {
      padding: 0;
    }
  }

  .heading-block {
    .head-section {
      width: 100%;
      float: none;

      h1 {
        padding: 0 0 $gutter 0;
      }
    }

    .content {
      float: none;
      width: 100%;

      article {
        padding: 0;
      }
    }
  }

  .inner-block {
    padding: 0!important;
  }

  .metadata-list {
    width: 100%;
  }

  .document-share-links {
    margin-left: 0;
    padding-left: 0;
  }

  .history-status-block {
    margin: 30px 0;
  }



}

.statistics-announcement {
  .column-two-thirds {
    width: 100%;
  }
}

// fix breadcrumbs

.breadcrumbs {
   // position: absolute;
   font-size: 16px;
   max-width: 960px;
   z-index: 100;
   a {
      color: black;
      text-decoration: underline;
   }
   li.current {
     a {
       color: $secondary-text-colour;
       text-decoration: none;
     }
   }
}
#whitehall-wrapper {
   .breadcrumbs {
      a {
         color: black;
         text-decoration: underline;
      }

      .current {
        a {
          color: $secondary-text-colour;
          text-decoration: none;
        }
      }
   }
}

// add minimum height to header blocks, align the headers

#wrapper {
  @extend %site-width-container;

  .govuk-title,
  .page-header {
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter * 1.5;
    }

    h1 {
      padding-top: 0;
    }

    .context {
      margin-bottom: 5px;
    }
  }
}

#whitehall-wrapper {
  .headings-block {
    .heading-with-extra {
      margin-top: $gutter-half;

      @include media(tablet) {
        margin-top: $gutter * 1.5;
      }

      h1 {
        @include bold-48;
      }

      .type {
        @include core-24;
        color: $secondary-text-colour;
        margin-bottom: 5px;
      }
    }
  }

  .govuk-title {
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter * 1.5;
    }

    h1 {
      padding-top: 0;
    }

    .context {
      margin-bottom: 5px;
    }
  }
}

// manuals
.hmrc-internal-manuals-frontend-content {
  .outer-block {
    padding: 0;
  }

  .inner-block {
    padding: 0 15px;
  }
}

.primary-metadata,
#whitehall-wrapper .metadata-list,
.status-block,
.history-status-block {
   display: none;
}

.content-block {
  .nav-tabs {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
    }
  }
}


// related nav styles

#whitehall-wrapper {
  .whitehall-content {
    float: left;
    @include grid-column(2/3);
  }
}

.related-container {
  @include grid-column(1/3);
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }
}

.related {
   border-top: 10px solid #005ea5;
   padding-top: 5px;

   div {
      padding-bottom: 9px;
   }

   h2 {
      @include bold-24;
   }
   p {
      @include core-19;
   }

   h3 {
     @include bold-19
   }

   li {
      margin-left: 0;
      a {
         text-decoration: none;
         &:hover, &:focus {
            text-decoration: underline;
         }
      }
   }
   .reveal {
      display: block;
      text-decoration: underline!important;
   }
}

/* taxon layout */

#content.taxonomy {
  @extend %site-width-container;
}

.taxonomy {
  h1 {

    &+p {
      @include core-24;
    }
  }

  h2 {
    @include bold-24();

    margin-top: $gutter * 1.5;
    margin-bottom: $gutter;

    @include media(mobile) {
      margin-top: $gutter;
      margin-bottom: $gutter;
    }

    &.subsection__title {
      margin: 0;
    }
  }

  h3 {
    @include bold-19;

    padding-bottom: 0;

    @include media(tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  .description {
    margin-bottom: $gutter;
  }

  .govuk-title {
    .context {

      a {
        color: $text-colour;
        text-decoration: underline;

        &:before {
          content: " ";
          display: inline-block;
          height: 0;
          width: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid $black;
          margin-right: 10px;

        }
      }
    }
  }

  .full-width-column {
    @include grid-column(1);
  }

  .child-topics-list {
    ul {
      list-style-type: none;
      @extend %grid-row;

      li {
        @include grid-column(1/3);
        padding-bottom: $gutter;

        @include media(tablet) {
          min-height: (5 * $gutter);
          padding-bottom: $gutter * 1.5;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }

      li:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  .parent-topic-contents {
    @include grid-column(2/3);

    .topic-content {
      padding-bottom: $gutter;

      ul {
        padding-bottom: $gutter-one-third;

        li {
          h3 {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .topic-navigation {
    li {
      padding-bottom: 5px;
      // padding-left: 20px;
      &.child-topic:before {
        content: "» ";
        color: $secondary-text-colour;
      }
    }
  }

  .child-topic-contents {
    .topic-content {
      ul {
        li {
          margin-bottom: $gutter-one-third;

          h3 {
            padding-bottom: 0;
          }
        }
      }

    }
  }

  .top-task-list {
    
    @extend %contain-floats;
    padding: $gutter/1.5;
    background-color: $grey-3;
    // padding-bottom: $gutter;
    // border-top: 10px solid $govuk-blue;
    // border-bottom: 10px solid $govuk-blue;

    @include media(mobile) {
      margin-left: -$gutter;
      margin-right: -$gutter;
      padding: $gutter/1.5 $gutter;
    }

    h2 {
      margin: 0 0 $gutter-one-third 0;
      // padding: 0 $gutter-half $gutter-one-third $gutter-half;
      // border-bottom: 1px solid $border-colour;
    }

    ul {

      li {
        @include grid-column(1/2);
        padding: $gutter-half 0 0 0;

        a {
          // text-decoration: none;
          &:hover {
            color: #d5e8f3;
            text-decoration: underline;
          }
        }
        
      }
    }

    &.blue {
      background-color: $govuk-blue;
      color: white;

      h2 {
        // border-bottom: 1px solid white;
        // border-bottom: 1px solid rgba(255,255,255, 0.25);
      }

      a {
        color: white;
      }
    }
  }

  .subsection__list-item {
    a {
      font-weight: bold;
    }
  }


  p.done {
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    margin-left: 50%;
    width: 100%;
  }
  .service-list {
    position: relative;
    clear: both;
    padding-top: 60px;
    &:before {
      content: "1";
      font-size: 80px;
      line-height: 80px;
      font-weight: bold;
      position: absolute;
      top: 55px;
      left: 0;
      width: 50%;
      text-align: center;
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
    &:nth-child(4)::before {
      content: "4";
    }
    &:nth-child(5)::before {
      content: "5";
    }
    &:nth-child(6)::before {
      content: "6";
    }
    h2 {
      padding-bottom: 10px;
      margin-left: 50%;
    }
    p {
      margin: 0;
      margin-left: 50%;
      padding-bottom: 10px;
    }
    ul {
      position: relative;
      margin: 0;
      margin-left: 50%;
      width: 100%;
      list-style: none;
      &:before {
        content: ".";
        color: transparent;
        position: absolute;
        background: black;
        top: 10px;
        left: 8px;
        bottom: 0;
        width: 1px;
      }
      &:after {
        content: ".";
        color: transparent;
        position: absolute;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(-45deg);
        bottom: 0;
        left: 3px;
        width: 10px;
        height: 10px;
      }
    }
    li {
      position: relative;
      font-size: 19px;
      line-height: 25px;
      padding-bottom: 10px;
      padding-left: 30px;
      &:before {
        content: "•";
        text-shadow: 0 3px #ffffff,  0 -3px #ffffff;
        position: relative;
        display: inline-block;
        width: 25px;
        margin-left: -25px;
      }
      &:last-child {
        padding-bottom: 30px;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
