<html><head>
<title>
GOV.UK Email alert
</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
<link href="https://www.gov.uk/favicon.ico" rel="SHORTCUT ICON">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/examples.css" media="screen" rel="stylesheet" type="text/css" />


</head>
<body id="sub" cz-shortcut-listen="true" style="zoom: 1;">
<div class="govdelivery subscriber">
<div id="page_margins">
<div id="page">

<div class="qs_banner">
<a href="https://www.gov.uk" target="_blank">
<img alt="GOV.UK Email Alerts" src="/public/images/GOVemailalertsbanner.jpg">
</a>
</div>

<div id="col3">
<p class="name">

</p>


<form accept-charset="UTF-8" method="post" action="/emails/gov-delivery/subscriber">
<fieldset id="quick_subscribe_new">
<h1>
Subscribe, change your preferences or unsubscribe from GOV.UK emails.
</h1>
<div id="quick_subscribe_new_instructions">
<p>To sign up for updates or to access your subscriber preferences, please enter your contact information below.</p>
</div>
<ol class="form">
<li class="email_fields" style="display: block">
<label for="email"><img class="required" src="https://public.govdelivery.com/static/required.gif" alt="Required">Please enter your email address</label>
<input type="text" name="email" id="email" class="long">

</li>
</ol>
<div class="button_panel">
<input type="hidden" name="taxon" value="{{ emailSelected }}">
<input type="submit" name="commit" value="Submit" class="form_button">
<input type="button" value="Cancel" class="form_button cancel_button">
</div>
</fieldset>
</form>

</div>
</div>
<div id="footer">
<p>&nbsp; &nbsp;</p>
<hr>
<a id="privacy_policy" target="_blank" href="https://www.gov.uk/support/privacy-policy">Privacy policy</a>
&nbsp;-&nbsp;
<a id="help" target="_blank" href="https://subscriberhelp.govdelivery.com/hc/en-us">Help</a>
</div>
</div>




<div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1428</span> x <span class="tooltipHeight" id="winHeight">815</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1140</span> x <span class="tooltipHeight" id="vpHeight">674</span></div>
</div>
</body></html>