{% macro content_list(taxon, taxonContent, count=5) %}

{% if taxonContent.length > 0 %}
  {% if taxon.children.length > 0 %}
  <h2>{{ taxon.title }} guidance</h2>

  {% if taxon.description %}<p>{{ taxon.description }}</p>{% endif %}
  {% endif %}

  <ul>
    {% for document in taxonContent %}
      {% if loop.index0 < count %}
      <li>
        <h3><a href="{{ document.basePath }}">{{ document.title }}</a></h3>
        <p>{{ document.description }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% endmacro %}
