{% macro content_list(taxon, count=5) %}

{% if taxon.taggedContent.length > 0 %}
  {% if taxon.children.length > 0 %}
  <h2>{{ taxon.contentItem.title }} guidance</h2>

  {% if taxon.contentItem.description %}<p>{{ taxon.contentItem.description }}</p>{% endif %}
  {% endif %}

  <ul>
    {% for document in taxon.taggedContent %}
      {% if loop.index0 < count %}
      <li>
        <h3><a href="{{ document.link }}">{{ document.title }}</a></h3>
        <p>{{ document.description }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% endmacro %}
