{% extends "layout.html" %}
{% import "taxonomy/content-list-macro.html" as content_list_macro %}
{% import "breadcrumb-macro.html" as breadcrumb_macro %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

  <main id="content" class="taxonomy" role="main">
    {{ breadcrumb_macro.render_breadcrumb(presentedTaxon.breadcrumb) }}

    {% include 'taxonomy/_taxon-heading.html' %}

    <div class="grid-row child-topic-contents">
      <div class="column-two-thirds">
        <div class="topic-content">

          <div data-module="accordion-with-descriptions">
            <div class="subsection-wrapper">
              <div class="subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title">{{ presentedTaxon.title }}</h2>
                  <p class="subsection__description">{{ presentedTaxon.description }}</p>
                </div>

                <div class="subsection__content" id="subsection_content_{{ (loop.index+1) | pad(2, '0') }}">
                  <ul class="subsection__list">

                    {% for document in presentedTaxon.content.guidance.atozContent() %}
                      <li class="subsection__list-item">
                        <a href="{{ document.basePath }}">{{ document.title }}</a>

                        <p>{{ document.description }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% for childTaxon in presentedTaxon.children %}
                <div class="subsection">
                  <div class="subsection__header">
                    <h2 class="subsection__title">{{ childTaxon.title }}</h2>
                    <p class="subsection__description">{{ childTaxon.description }}</p>
                  </div>

                  <div class="subsection__content" id="subsection_content_{{ (loop.index+1) | pad(2, '0') }}">
                    <ul class="subsection__list">
                      {% for document in childTaxon.guidance.atozContent() %}
                        <li class="subsection__list-item">
                          <a href="{{ document.basePath }}">{{ document.title }}</a>

                          <p>{{ document.description }}</p>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>

        </div>
      </div>
    </div>
  </main>
{% endblock %}
