{% extends "layout.html" %}
{% import "taxonomy/content-list-macro.html" as content_list_macro %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

  <main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}

    {% include 'taxonomy/_taxon-heading.html' %}

    <h3>In this section</h3>

    <ul class="topic-navigation">
      <li><a href="#topic-01">{{ presentedTaxon.title }}</a></li>
      {% for childTaxon in presentedTaxon.children %}
        <li class="child-topic"><a href="#topic-{{ (loop.index + 1) | pad(2, '0') }}">{{ childTaxon.title }}</a></li>
      {% endfor %}
    </ul>

    <div class="grid-row child-topic-contents">
      <div class="column-two-thirds">
        <div class="topic-content">
          <a name="topic-01"></a>
          {{ content_list_macro.content_list(presentedTaxon, presentedTaxon.content.guidance.atozContent(), true) }}

          {% for childTaxon in presentedTaxon.children %}
            <a name="topic-{{ (loop.index + 1) | pad(2, '0') }}"></a>
            {{ content_list_macro.content_list(childTaxon, childTaxon.guidance.atozContent(), true) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
