{% extends "layout.html" %}
{% import "taxonomy/content-list-macro.html" as content_list_macro %}
{% import "breadcrumb-macro.html" as breadcrumb_macro %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

  <main id="content" class="taxonomy" role="main">
    {{ breadcrumb_macro.render_breadcrumb(presentedTaxon.breadcrumb, presentedTaxon.title) }}

    {% include 'taxonomy/_taxon-heading.html' %}

    <div class="grid-row">

    {% if presentedTaxon.mainstreamContent.length %}
      <div class="full-width-column top-task-container lines">

        <div class="top-task-list">

          {% if presentedTaxon.mainstreamContent.length > 10 %}
            {% set column_height = presentedTaxon.mainstreamContent.length/2 | round(0, "ceil") %}
          {% else %}
            {% set column_height = 5 %}
          {% endif %}

          <h2>Top tasks in {{presentedTaxon.title}}</h2>
            <ul>
              {% for mainstreamItem in presentedTaxon.mainstreamContent.slice(0, column_height) %}
                <li><a href="{{ mainstreamItem.link }}">{{ mainstreamItem.title }}</a></li>
              {% endfor %}
            </ul>
            {% if presentedTaxon.mainstreamContent.length > 5 %}
            <ul>
              {% for mainstreamItem in presentedTaxon.mainstreamContent.slice(column_height) %}
                <li><a href="{{ mainstreamItem.link }}">{{ mainstreamItem.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>

      </div>
    {% endif %}

      <div class="full-width-column">
        <nav role="navigation" class="child-topics-list">
          <h2>In this section</h2>
          <ul>
            {% for childTaxon in presentedTaxon.children %}
              <li>
                <h3><a href="{{ childTaxon.basePath }}">{{ childTaxon.title }}</a></h3>
                <p>{{ childTaxon.description }}</p>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="parent-topic-contents">
        <div class="topic-content">
          {{ content_list_macro.content_list(presentedTaxon, presentedTaxon.content.guidance.atozContent()) }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
