{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy email">

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Sign up to email alerts about:
        {{presentedTaxon.title | lower}}
      </h1>

      <p class=paragraph>You will receive alerts about everything published to GOV.UK on this topic.</p>
      
      <p class=paragraph>This will include {{presentedTaxon.description}}</p>

      <p class=paragraph>You can set your preferences to receive emails:</p>
        <ul class=bullet>
          <li>instantly (default setting)</li>
          <li>daily</li>
          <li>weekly</li>
        </ul>

</div>

<div>
    <div>
      <p>
        <a class="button button-start" href="/gov-delivery/email-signup" role="button">Sign up now</a>
      </p>

	<a title="Navigate to previous part" rel="prev" href="javascript:history.go(-1);">Go back to select a different topic</a>

    </div>



</main>

{% endblock %}
