{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy email">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Get email alerts</h1>
      
      <h3 class="heading2hack">You are signing up to get alerts about: {{presentedTaxon.title}}.</h3>
      
      <p>This will include: {{presentedTaxon.description}}</p>

 <div>
  <form method="post" action="{{ presentedTaxon.basePath }}/preferences">
      <input type="hidden" name="emailSelected" value="{{ emailSelected }}">
      <p>
        <input type="submit" class="button" value="Continue" role="button">
      </p>
  </form>

        <a title="Navigate to previous part" rel="prev" href="javascript:history.go(-1);">Go back to GOV.UK to select a different topic</a>

      </div>

  </div>

</main>

  {% endblock %}


