{% extends "layout.html" %}
{% import "breadcrumb-macro.html" as breadcrumb_macro %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy email">
{{ breadcrumb_macro.render_breadcrumb(presentedTaxon.breadcrumb, presentedTaxon.title, email=true) }}
<div class="grid-row">
  <div class="column-two-thirds">

      <h1 class="heading-large">
        What do you want to get alerts about?
      </h1>
      <h3 class="heading2hack">Everything published to GOV.UK about:</h3>

<form method="post" action="{{ presentedTaxon.basePath }}/preferences">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">What do you want to get alerts about?</legend>

      <label class="block-label selection-button-radio" data-target="radio1" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="{{ presentedTaxon.basePath }}">
        {{presentedTaxon.title}} 
      </label>

      <div
        style="margin-left: 16px;"
        class="panel panel-border-narrow js-hidden" id="radio1">
        <p>This will include alerts about all of the topics below</p>
          <input type="submit" class="button" value="Continue" role="button">
      </div>
    
      <h3 class="heading2hack">or only one of the following:</h3>

{% for childTaxon in presentedTaxon.children %}
      <label class="block-label selection-button-radio" data-target="radio{{ loop.index + 1 }}" for="radio-{{ loop.index + 1 }}">
        <input id="radio-{{ loop.index + 1 }}" type="radio" name="radio-group" value="{{ childTaxon.basePath }}">
        {{ childTaxon.title }}
      </label>

      <div
        style="margin-left: 16px;"
        class="panel panel-border-narrow js-hidden" id="radio{{ loop.index + 1 }}"
      >
        <p class=paragraph>This will include: {{childTaxon.description}}</p>
          <input type="submit" class="button" value="Continue" role="button">
      </div>

     {% endfor %} 

    </fieldset>
  </div>


  </div>
</div>
<div>

</div>  

    <div>
	<a title="Navigate to previous part" rel="prev" href="javascript:history.go(-1);">Back to select a different topic</a>
    </div>

</form>

</main>

{% endblock %}
