{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy">

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sign up to email alerts about running and managing a school
      </h1>

      <p>You will receive alerts about anything published to GOV.UK about running and managing a school, including Governance, school admissions, censuses, uniforms, setting up or changing a school's status.</p>


</div>

<div>
    <div class="column-two-thirds">
      <p>
        <a class="button button-start" href="gov-delivery-enter" role="button">Sign up now</a>
      </p>

	<a title="Navigate to previous part" rel="prev" href="#">
              <span class="pagination-label">Back</span>
</a>

    </div>



</main>

{% endblock %}
