{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy">

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sign up to email alerts about Education, training and skills
      </h1>

      <p>You will receive alerts about anything published to GOV.UK about early years learning, schools and academies, further and higher education, skills and vocational training, student funding.</p>

      <p>You can choose to receive email alerts:</p>

      <ul class="list list-bullet">
        <li>instantly</li>
        <li>daily</li>
        <li>weekly</li>
      </uL>
</div>

<div>
    <div class="column-two-thirds">
      <p>
        <a class="button button-start" href="gov-delivery-enter" role="button">Sign up now</a>
      </p>

	<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="17.565px" height="30px" viewBox="0 0 17.565 30" enable-background="new 0 0 17.565 30" xml:space="preserve">
		<polygon fill="#005EA5" points="15,30 0,15 15,0 17.565,2.565 5.131,15 17.565,27.437 "/>
	</svg>

	<a title="Navigate to previous part" rel="prev" href="#">
              <span class="pagination-label">Back to GOV.UK to refine your selection</span>
</a>          </li>
</div>



</main>

{% endblock %}
