{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy email">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Sign up for email alerts    
      </h1>


      <p>You are subscribing to email alerts about {{presentedTaxon.title | lower}}. </p>
      <div>      
      <p>This will include {{presentedTaxon.description}}</p>
      </div>  

<div>
    <div class="column-two-thirds">
  <form method="post" action="{{ presentedTaxon.basePath }}/preferences">
      <input type="hidden" name="emailSelected" value="{{ emailSelected }}">
      <p>
        <input type="submit" class="button button-start" value="Continue" role="button">
      </p>
  </form>

        <a title="Navigate to previous part" rel="prev" href="javascript:history.go(-1);">Back to select a different topic</a>

      </div>



    </main>

    {% endblock %}
