{% extends "layout.html" %}
{% import "breadcrumb-macro.html" as breadcrumb_macro %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="taxonomy email">
{{ breadcrumb_macro.render_breadcrumb(presentedTaxon.breadcrumb, presentedTaxon.title, email=true) }}
<div class="grid-row">
  <div class="column-two-thirds">

      <h1 class="heading-large">
        Sign up for email alerts
      </h1>
      <p>What do you want to subscribe to?</p>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
<form method="post" action="{{ presentedTaxon.basePath }}/frequency">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">What topic do you want to subscribe to?</legend>

      <label class="block-label selection-button-radio" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="{{ presentedTaxon.basePath }}">
        <h3>Everything published to GOV.UK about {{presentedTaxon.title | lower}}</h3> including everything below
      </label>

      <p class="form-block">or only</p>

{% for childTaxon in presentedTaxon.children %}
      <label class="block-label selection-button-radio" for="radio-{{ loop.index + 1 }}">
        <input id="radio-{{ loop.index + 1 }}" type="radio" name="radio-group" value="{{ childTaxon.basePath }}">
        {{ childTaxon.title }}
      </label>
     {% endfor %} 

    </fieldset>
  </div>


  </div>
</div>
<div>

</div>  

<div>
    <div>
      <p>
        <input type="submit" class="button button-start" value="Continue" role="button">
      </p>

	<a title="Navigate to previous part" rel="prev" href="javascript:history.go(-1);">Back</a>

    </div>

</form>

</main>

{% endblock %}
