<!DOCTYPE html>
<html>
<head>
<title>
GOV.UK Email alert
</title>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
<link href='https://www.gov.uk/favicon.ico' rel='SHORTCUT ICON' />
<link rel="stylesheet" media="screen" href="https://public.govdelivery.com/assets/subscriber-6a288ba3ca58d4d7fffc127ecbb1939be706e42c22c888165705fbf66adfc022.css" />
<link rel="stylesheet" media="screen" href="https://public.govdelivery.com/accounts/UKGOVUK/style.css?v=1384560063" />

<!--[if lte IE 7]>
<link rel="stylesheet" media="screen" href="/assets/image_fallbacks-4158072338fe39a7068cb4e24030302b5b49a32f58407c057e78415bbc45090c.css" />
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" media="screen" href="/assets/ie6-b46bd8780ec9c8008dc27f5c0ea164af52562889b910283beb10f551dad39cae.css" />
<![endif]-->
<script src="https://public.govdelivery.com/assets/#"></script>
<script src="https://public.govdelivery.com/assets/#"></script>

<script type='text/javascript'>
  //<![CDATA[
    new GD.application.Application.mixpanel({"token":"#","identity":"production-ep-unknown","unknown":true,"persona":{},"properties":{"$os":"OS X 10.11.6","$browser":"Chrome","$browser_version":"Chrome 56.0.2924.87","$platform":"Macintosh","$mobile":false,"$admin_type":null,"$account_code":"no account","$account_created_at":null,"$referrer":null,"$referring_domain":"public.govdelivery.com"}}).init();
  //]]>
</script>
</head>
<body id='sub'>
<div id='page_margins'>
<div id='page'>

<div class='qs_banner'>
<a href='#' target='_blank'>
<img alt='GOV.UK Email Alerts' src='GOVemailalertsbanner.jpg' />
</a>
</div>

<div id='col3'>
<p class='name'>

</p>


<form action="https://public.govdelivery.com/accounts/UKGOVUK/subscriber/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="#" />

<fieldset id='quick_subscribe_new'>
<h1>
Subscribe, change your preferences or unsubscribe from GOV.UK emails.
</h1>
<div id='quick_subscribe_new_instructions'>
<p>To sign up for updates or to access your subscriber preferences, please enter your contact information below.</p>
</div>
<ol class='form'>
<li class='email_fields' style='display: block'>
<label for="email"><img class="required" src="https://public.govdelivery.com/static/required.gif" alt="Required" />Please enter your email address</label>
<input type="text" name="email" id="email" class="long" />

</li>
</ol>
<div class='button_panel'>
<input type="submit" name="commit" value="Submit" class="form_button" /><input type="button" value="Cancel" class="form_button js_only cancel_button" />
</div>
</fieldset>
</form>

<script type='text/javascript'>
  //<![CDATA[
    new GD.view.AccountSubscribersNew({
      facebookAppId: "188927694463050",
      facebookLoginURL: "https://public.govdelivery.com/accounts/UKGOVUK/facebook_subscriber/login",
      wirelessEnabled: false,
      facebookEnabled: false,
      permissions: "email"
    }).init();
  //]]>
</script>

</div>
</div>
<div id='footer'>
<p>&nbsp; &nbsp;</p>
<hr />
<a id="privacy_policy" target="_blank" href="https://www.gov.uk/support/privacy-policy">Privacy policy</a>
&nbsp;-&nbsp;
<a id="help" target="_blank" href="https://subscriberhelp.govdelivery.com/hc/en-us">Help</a>
</div>
</div>
<script type='text/javascript'>
  //<![CDATA[
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
</script>
<script type='text/javascript'>
  //<![CDATA[
    try{
    var pageTracker = _gat._getTracker("UA-17133996-1");
    pageTracker._setCustomVar(1, "accountCode", "UKGOVUK", 3);
    pageTracker._setCustomVar(3,    "pageType", "Other", 3);
    pageTracker._setVisitorCookieTimeout(0);
    pageTracker._setSessionCookieTimeout(0);
    pageTracker._setCampaignCookieTimeout(0);
    pageTracker._trackPageview();
    } catch(err) {}
  //]]>
</script>

<script type='text/javascript'>
  //<![CDATA[
    new GD.view.LayoutsAccountsSubscribers().init();
    new GD.ui.SubscriberButtonPanel({
          navigate_confirm_text: "Are you sure you want to navigate away from this page?",
          close_confirm_text: "Are you sure you want to close this page?",
          logout_path: "https://public.govdelivery.com/accounts/UKGOVUK/subscriber/session/destroy",
          change_to_wireless_confirm_text: 'You are about to change your email address to a phone number. You may be missing out on valuable information because not all alerts are sent to phones. Do you want to continue?'
        }).init();
  //]]>
</script>
</body>
</html>
