.breadcrumbs {
  @include breadcrumbs;

  li, li.parent {
    background-position-y: 4px;
  }

  li.current {
    a {
      color: $secondary-text-colour;
      text-decoration: none;
    }
  }
}

#whitehall-wrapper {
  .breadcrumbs {
    @include breadcrumbs;

    li, li.parent {
      background-position-y: 4px;
    }

    li.current {
      a {
        color: $secondary-text-colour;
        text-decoration: none;
      }
    }
  }
}
