// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#whitehall-wrapper {
  @extend %site-width-container;

  h1 {
    padding-top: 0;
  }

  #page {
    padding: 0;
  }

  .context {
    margin-bottom: 5px;
  }

  .whitehall-content {
    @include grid-column(2/3);
  }

  .govuk-title {
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter * 1.5;
    }
  }

  .related {
    border-top: 10px solid $govuk-blue;

    div {
      padding-top: $gutter-two-thirds;
    }

    h2 {
      @include bold-24;
      margin-bottom: ($gutter-one-third/2);
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      text-decoration: underline;
    }

    p {
      @include core-16;
      margin-bottom: 0;
    }

    h3 {
      @include bold-19
    }

    ul {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 0;
      padding-left: 15px;
      list-style: none;

      a:before {
        content: "•";
        display: inline-block;
        width: 15px;
        margin-left: -15px;
      }
    }

    .reveal {
      display: block;
      font-weight: bold;
      text-decoration: underline!important;
    }
  }

  .detailed-guide, .document-collection, .publication {
    @include grid-column(2/3);

    .govuk-breadcrumbs {
      display: none;
    }

    .column-two-thirds {
      width: 100%;
    }

    .sidebar-with-body {
      .column-third {
        display: none;
      }
    }

    .offset-one-third {
      margin-left: 0;
    }

    .sticky-element {
      display: none;
    }
  }

  #page.consultation {
    .status-block {
      margin-left: 15px;
      margin-right: 15px;
    }

    .original-consultation {
      margin-left: 0;
      margin-right: 0;
    }

    .consultation-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .document-page {
    .block-3 {
      width: 100%;
    }

    .block-4 {
      width: 100%;
    }
  }

  .document-collection-page {
    .block-2 {
      width: 100%;
    }

    .block-3 {
      width: 100%;
    }
  }

  .statistical-data-set {
    .statisticaldataset {
      .block-2 {
        display: none;
      }

      .block-3 {
        width: 100%;
      }
    }
  }

  .heading-extra {
    display: none;
  }

  .headings-block {
    .heading-with-extra {
      width: 100%;
      margin-top: $gutter-half;
      padding-top: 0;

      @include media(tablet) {
        margin-top: $gutter * 1.5;
      }

      h1 {
        @include bold-48;
      }

      .type {
        @include core-24;
        color: $secondary-text-colour;
        margin-bottom: 5px;
      }
    }

    .inner-heading {
      padding: 0;
    }
  }

  .heading-block {
    .head-section {
      width: 100%;
      float: none;

      h1 {
        padding: 0 0 $gutter 0;
      }
    }

    .content {
      float: none;
      width: 100%;

      article {
        padding: 0;
      }
    }
  }

  .inner-block {
    padding: 0!important;
  }

  .metadata-list {
    width: 100%;
  }

  .document-share-links {
    margin-left: 0;
    padding-left: 0;
  }

  .history-status-block {
    margin: 30px 0;
  }
}
