<div class="full-width-column top-task-container lines">
  <div class="top-task-list">
    {% if curatedMainstreamContent %}
      {% set mainstreamContent = curatedMainstreamContent %}
    {% else %}
      {% set mainstreamContent = presentedTaxon.mainstreamContent %}
    {% endif %}

    {% if mainstreamContent.length > 10 %}
      {% set column_height = (mainstreamContent.length/2) | round(0, "ceil") %}
    {% else %}
      {% set column_height = 5 %}
    {% endif %}

    <h2>Quick links</h2>
      <ul>
        {% for mainstreamItem in mainstreamContent.slice(0, column_height) %}
          <li><a href="{{ mainstreamItem.link }}">{{ mainstreamItem.title }}</a></li>
        {% endfor %}
      </ul>
      {% if mainstreamContent.length > 5 %}
      <ul>
        {% for mainstreamItem in mainstreamContent.slice(column_height) %}
          <li><a href="{{ mainstreamItem.link }}">{{ mainstreamItem.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>
