<div class="related-container">
  <aside class="related" id="related">
    {% for taxon in presentedContent.relatedContent %}

      {% if presentedContent.breadcrumb.length > 3 %}
        {% set topic_link = presentedContent.breadcrumb[3].basePath + "#" + taxon.basePath %}
      {% else %}
        {% set topic_link = taxon.basePath %}
      {% endif %}

      <div class="related-topic-links">
        <header>
           <h2><a href="{{ topic_link }}">{{ taxon.title }}</a></h2>
           <p>{{ taxon.description }}</p>
        </header>

        {% if taxon.results.length > 0 %}
          <ul>
            {% for contentItem in taxon.results.slice(0,3) %}
              <li>
                <a href="{{ contentItem.link }}">{{ contentItem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <p><a{% if taxon.results.length > 0 %} class="reveal"{% endif %} href="{{ topic_link }}">See everything in {{ taxon.title }}</a></p>
      </div>
    {% endfor %}
  </aside>
</div>
