<div class="related-container">

  <aside class="related" id="related">
    {% for taxon in taxons %}
    <div>
      <h2 id="parent-other">{{taxon.title}}</h2>
      <p>A short description of this topic to make it easier to understand</p>

      <nav role="navigation" aria-labelledby="parent-other">
        <ul>
          {% for contentItem in taxon.content %}
          <li>
            <a href="{{contentItem.basePath}}">{{contentItem.title}}</a>
          </li>
          {% endfor %}
        </ul>
        <a class="reveal" href="/">See everything in {{taxon.title}}</a>
      </nav>
    </div>
    {% endfor %}


<!--     <div class="inner group"> -->
<!--       <a class="return-to-top" href="#content">Return to top ↑</a> -->
<!--     </div> -->
  </aside>

</div>