<div class="related-container">
  <aside class="related" id="related">
    {% for taxon in presentedContent.taxons %}
    <div>
      <header>
         <h2>More about {{ taxon.title }}</h2>
         {% if taxon.description %}
         <p>{{ taxon.description }}</p>
         {% endif %}
      </header>

      <nav role="navigation" aria-labelledby="parent-other">
        <ul class="topic-hierarchy">
          {% for topic in presentedContent.breadcrumb.slice(1)|reverse %}
          <li><a href="{{ topic.basePath }}">{{ topic.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    {% endfor %}
  </aside>
</div>
