<div class="related-container">
  <aside class="related" id="related">
    {% for taxon in presentedContent.relatedContent %}
      <div class="related-topic-links">
        <header>
           <h2>More about {{ taxon.title }}</h2>
           <p>{{ taxon.description }}</p>
        </header>

        {% if taxon.results.length > 0 %}
          <ul>
            {% for contentItem in taxon.results %}
              <li>
                <a href="{{ contentItem.link }}">{{ contentItem.title }}</a>
              </li>
            {% endfor %}
          </ul>

            <p><a class="reveal" href="{{ taxon.basePath }}?viewAll">See everything in {{ taxon.title }}</a></p>
          </nav>
        {% endif %}
      </div>
    {% endfor %}
  </aside>
</div>
