<div class="related-container">
  <aside class="related" id="related">
    {% for taxon in taxons %}
    <div>
      <header>
         <h2 id="parent-other">{{ taxon.title }}</h2>
         {% if taxon.description %}
         <p>{{ taxon.description }}</p>
         {% endif %}
      </header>

      <nav role="navigation" aria-labelledby="parent-other">
        <ul>
          {% if relatedContent %}
            {% for contentItem in relatedContent %}
              <li>
                <a href="{{ contentItem.link }}">{{ contentItem.title }}</a>
              </li>
            {% endfor %}
          {% else %}
            {% for contentItem in taxon.content.slice(5) %}
              <li>
                <a href="{{ contentItem.basePath }}">{{ contentItem.title }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>

        <a class="reveal" href="{{ taxon.basePath }}?viewAll">More about {{ taxon.title }}</a>
      </nav>
    </div>
    {% endfor %}
  </aside>
</div>
