{% extends "layout.html" %}
{% block content %}


<main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}  
    <div class="grid-row">
    <div class="column-two-thirds">
          <h1>Become a childminder</h1>
          <p>A short description of this topic to make it easier to understand</p>

          <div>     
          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Check your eligibility</h2>
            <p>See if you can become a childminder</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">Check eligibility</a>
               </li>
               <li>
                  <a href="/government/publications/inspecting-safeguarding-in-early-years-education-and-skills-from-september-2015">Read rules</a>
               </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Preparing to apply</h2>
            <p>You need to do all of these before applying to Ofsted</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">Prove identity</a>
               </li>
               <li>
                  <a href="/government/publications/inspecting-safeguarding-in-early-years-education-and-skills-from-september-2015">Check criminal history</a>
               </li>
               <li>
                  <a href="/find-ofsted-inspection-report">Get health check</a>
               </li>
               <li>
                  <a href="/government/publications/common-inspection-framework-education-skills-and-early-years-from-september-2015">Do childminder training</a>
               </li>
               <li>
                  <a href="/government/publications/early-years-inspection-handbook-from-september-2015">Get references</a>
               </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Your application</h2>
            <p>You can apply to Ofsted digitally or by post</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">Apply to Ofsted</a>
               </li>
            </ul>
          </nav>
          </div>

          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Before you start childminding</h2>
            <p>If your application is successful, you need to do these before you start work as a childminder</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">Get insured</a>
               </li>
            </ul>
          </nav>
          
          <p class="done">Once you become a legal childminder you should not need to reapply again (for example, when starting a new childminding job). However, if you are convicted of a criminal offence your childminder status may be removed.</p>
          
          <nav class="publisher-list">
            <h2>Service provided by</h2>
            <ul>
               <li>
                  <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/education-funding-agency">Education Funding Agency</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/school-teachers-review-body">School Teachers' Review Body</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/student-loans-company">Student Loans Company</a>
               </li>
            </ul>
          </nav>
    </div>
  </div>
  </main>

{% endblock %}