{% macro render_breadcrumb(pages, title, email=false) %}
  {% block breadcrumb %}
    <div class="breadcrumbs">
      <ol>
        {% for page in pages %}
          <li{% if loop.last %} class="parent"{% endif %}><a href="javascript:history.go(-1);"> {{ page.title }}</a></li>
        {% endfor %}
        {% if not email %}
        <li class="current"><a href="#content">{{ title }}</a></li>
        {% else %}
        <li class="current"><a href="#content">Get email alerts</a></li>
        {% endif %}
      </ol>
    </div>
  {% endblock %}
{% endmacro %}
