{% macro render_breadcrumb(pages) %}
  {% block breadcrumb %}
    <div class="breadcrumbs">
      <ol>
        {% for page in pages %}
          <li{% if pages.length > 3 and (loop.index0 > 1) and (loop.index0 < pages.length -2) %} class="js-hidden"{% endif %}><a href="{{ page.basePath }}/"> {{ page.title }}</a></li>
          {% if pages.length > 3 and loop.index0 == 2 %}<li class="js-show"><a href="" class="js-toggle-breadcrumb" title="Show breadcrumbs">…</a></li>{% endif %}
        {% endfor %}
      </ol>
    </div>
  {% endblock %}
{% endmacro %}
