{% macro render_breadcrumb(pages, title) %}
  {% block breadcrumb %}
    <div class="breadcrumbs">
      <ol>
        {% for page in pages %}
          {% set href = page.basePath %}
          {% if loop.index0 == loop.length - 2 %}
            {% set li_class = 'parent' %}
          {% endif %}
          {% if loop.last %}
            {% set li_class = 'current' %}
            {% set href = '#content' %}
          {% endif %}
          <li class="{{ li_class }}">
            <a href="{{ href }}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endblock %}
{% endmacro %}
