{% extends "layout.html" %}

{% block content %}
  <div id="{% if presentedContent.isWhitehall %}whitehall-{% endif %}wrapper"{% if presentedContent.isHtmlManual %} class="html-manual"{% endif %}>
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}
    <div class="grid-row">
      {{ presentedContent.content | safe }}
      {% if presentedContent.taxons and not presentedContent.isHtmlPublication and not presentedContent.isHtmlManual %}
        {% include '_side-navigation.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
