{% extends "layout.html" %}
{% import "breadcrumb-macro.html" as breadcrumb_macro %}

{% block content %}
  <div id="{% if presentedContent.isWhitehall %}whitehall-{% endif %}wrapper"{% if presentedContent.isHtmlManual %} class="html-manual"{% endif %}>
    {{ breadcrumb_macro.render_breadcrumb(presentedContent.breadcrumb) }}

    <div class="grid-row">
      {{ presentedContent.content | safe }}
      {% if presentedContent.taxons and not presentedContent.isHtmlPublication and not presentedContent.isHtmlManual %}
        {% include '_side-navigation.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
