{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Content Navigation prototype</h1>

      <p>
        Examples of different content for the prototype
      </p>

      <ul class="list list-bullet">
        <li><a href="/government/publications/early-years-foundation-stage-eyfs">Answer</a></li>
        <li><a href="/guidance/key-stage-1-assessments">Detailed guidance</a></li>
        <li><a href="/government/statistics/announcements/childcare-providers-and-inspections">Statistics anouncement</a></li>
        <li><a href="/government/consultations/new-national-curriculum-primary-assessment-and-accountability">Consultation</a></li>
        <li><a href="/government/news/a-third-of-children-reach-expected-level-in-pilot-of-phonics-check">News article</a></li>
        <li><a href="/government/publications/early-years-newsletter-2015">Publication (correspondance)</a></li>
        <li><a href="/government/statistics/official-statistics-early-years-and-childcare-registered-providers-inspections-and-outcomes">Publication (official statistics)</a></li>
        <li><a href="/government/speeches/sarah-teather-to-the-family-and-parenting-institutes-conference">Speech</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}


