{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Content Navigation prototype</h1>

      <p>
        Examples of different content for the prototype
      </p>

      <ul class="list list-bullet">
        <li><a href="/complain-ofsted-report">Answer</a></li>
        <li><a href="/guidance/being-inspected-as-a-childrens-centre-guidance-for-providers">Detailed guidance</a></li>
        <li><a href="/government/statistics/announcements/childcare-providers-and-inspections">Statistics anouncement</a></li>
        <li><a href="/government/collections/childcare-bill">Collection</a></li>
        <li><a href="/government/consultations/better-inspection-for-all">Consultation</a></li>
        <li><a href="/government/news/consultation-on-radical-changes-to-inspection">News article</a></li>
        <li><a href="/government/publications/early-years-newsletter-2015">Publication (correspondance)</a></li>
        <li><a href="/government/statistics/official-statistics-early-years-and-childcare-registered-providers-inspections-and-outcomes">Publication (official statistics)</a></li>
        <li><a href="/government/speeches/sarah-teather-to-the-family-and-parenting-institutes-conference">Speech</a></li>
        <li><a href="/government/statistical-data-sets/foi-early-years-dataset-as-at-31-august-2014">Statistical data set</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}


