{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Content Navigation prototype</h1>

      <h2 class="heading-large">Topics</h2>
      <ul class="list list-bullet">
        <li><a href="/alpha-taxonomy/6f6f5609-9075-4762-9d98-3d649a26348b-primary-curriculum-key-stage-1-and-key-stage-2">Primary curriculum, key stage 1 and key stage 2</a></li>
      </ul>

      <h2 class="heading-large">Content</h2>

      <p>Examples of different content by format</p>

      <ul class="list list-bullet">
        {% for example in documentTypeExamples %}
          <li><a href="{{example.basePath}}">{{example.documentType}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
