{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% set homepage_url = "/home" %}

{% block inside_header %}
<form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
        <input type="search" name="q" id="site-search-text" title="Search" placeholder="Search">
        <!-- TODO: Update to Parenting, childcare, etc. -->
        <input type="hidden" name="scope" value="c58fdadd-7743-46d6-9629-90bb3ccc4ef0">
        <input class="submit" type="submit" value="Search">
    </div>
</form>
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
