{% extends "layout.html" %}
{% block content %}


<main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}  
    <div class="grid-row">
    <div class="column-two-thirds">
          <h1>Job to be done</h1>
          <p>A short description of this topic to make it easier to understand</p>

          <div>     
          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>First thing to do</h2>
            <p>A short description of the first thing you need to do</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">School inspection handbook</a>
               </li>
               <li>
                  <a href="/government/publications/inspecting-safeguarding-in-early-years-education-and-skills-from-september-2015">Inspecting safeguarding in early years, education and skills</a>
               </li>
               <li>
                  <a href="/find-ofsted-inspection-report">Find an Ofsted inspection report</a>
               </li>
               <li>
                  <a href="/government/publications/common-inspection-framework-education-skills-and-early-years-from-september-2015">Common inspection framework: education, skills and early years from September 2015</a>
               </li>
               <li>
                  <a href="/government/publications/early-years-inspection-handbook-from-september-2015">Early years inspection handbook from September 2015</a>
               </li>
               <li>
                  <a href="/ofsted-inspection-childcare-provider">Being inspected as a childminder or childcare provider</a>
               </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Second thing to do</h2>
            <p>Then a short description of the second thing</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">School inspection handbook</a>
               </li>
               <li>
                  <a href="/government/publications/inspecting-safeguarding-in-early-years-education-and-skills-from-september-2015">Inspecting safeguarding in early years, education and skills</a>
               </li>
               <li>
                  <a href="/find-ofsted-inspection-report">Find an Ofsted inspection report</a>
               </li>
               <li>
                  <a href="/government/publications/common-inspection-framework-education-skills-and-early-years-from-september-2015">Common inspection framework: education, skills and early years from September 2015</a>
               </li>
               <li>
                  <a href="/government/publications/early-years-inspection-handbook-from-september-2015">Early years inspection handbook from September 2015</a>
               </li>
               <li>
                  <a href="/ofsted-inspection-childcare-provider">Being inspected as a childminder or childcare provider</a>
               </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="parent-other" class="service-list">
            <h2>Third thing to do</h2>
            <p>And then a short description of third thing you need to do</p>
            <ul>
               <li>
                  <a href="/government/publications/school-inspection-handbook-from-september-2015">School inspection handbook</a>
               </li>
               <li>
                  <a href="/government/publications/inspecting-safeguarding-in-early-years-education-and-skills-from-september-2015">Inspecting safeguarding in early years, education and skills</a>
               </li>
               <li>
                  <a href="/find-ofsted-inspection-report">Find an Ofsted inspection report</a>
               </li>
               <li>
                  <a href="/government/publications/common-inspection-framework-education-skills-and-early-years-from-september-2015">Common inspection framework: education, skills and early years from September 2015</a>
               </li>
               <li>
                  <a href="/government/publications/early-years-inspection-handbook-from-september-2015">Early years inspection handbook from September 2015</a>
               </li>
               <li>
                  <a href="/ofsted-inspection-childcare-provider">Being inspected as a childminder or childcare provider</a>
               </li>
            </ul>
          </nav>
          </div>
          
          <p class="done">Once you've done this job, you'll need to renew it every five years.</p>
          
          <nav class="publisher-list">
            <h2>Service provided by</h2>
            <ul>
               <li>
                  <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/education-funding-agency">Education Funding Agency</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/school-teachers-review-body">School Teachers' Review Body</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/student-loans-company">Student Loans Company</a>
               </li>
            </ul>
          </nav>
    </div>
  </div>
  </main>

{% endblock %}