{% extends "layout.html" %}
{% block content %}


<main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}  
    <div class="grid-row">
    <div class="column-two-thirds">
      {% if taxon %}
      {% block taxonomy %}
          <h1>{{ taxon.title }}</h1>
          <p>A short description of this topic to make it easier to understand</p>

          <nav role="navigation" aria-labelledby="parent-other" class="full-list">
            <ul>
              {% for contentItem in taxon.content %}
              <li>
                <a href="{{contentItem.basePath}}">{{contentItem.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
      {% endblock %}
      {% else %}
      <p>No taxon information available</p>
      {% endif %}
    </div>
  </div>
  </main>

{% endblock %}