{% extends "layout.html" %}
{% block content %}


<main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}
    <div class="grid-row">
    <div class="column-two-thirds">
      {% if taxon %}
      {% block taxonomy %}
          <h1>{{ taxon.title }}</h1>
          {% if taxon.description %}
          <p>{{ taxon.description }}</p>
          {% endif %}

          {% if taxon.atozChildren().length > 0 %}
          {% for child_taxon in taxon.atozChildren() %}
          <nav role="navigation" class="child-taxon-list">
            <h2>{{ child_taxon.title }}</h2>
            {% if child_taxon.description %}
            <p>{{ child_taxon.description }}</p>
            {% endif %}
            <ul>
              {% for document in child_taxon.popularContent(5) %}
              <li>
                <a href="{{ document.basePath }}">{{ document.title }}</a>
                <li>{{ document.description }}</li>
              </li>
              {% endfor %}
            </ul>
            <a class="reveal" href="{{ child_taxon.basePath }}">See everything in {{ child_taxon.title }}</a>
          </nav>
          {% endfor %}
          {% endif %}

          {% if taxonContent.guidance.content.length + taxonContent.research_and_analysis.content.length > 0 %}
          <nav class="full-list">
            <h2>{{ taxon.title }}</h2>
            <div>
              {% if taxonContent.guidance.content.length > 0 %}
              <nav role="navigation">
                <h3>Guidance</h3>
                <ul>
                  {% for contentItem in taxonContent.guidance.atozContent() %}
                  <li>
                    <a href="{{ contentItem.basePath }}">{{ contentItem.title }}</a>
                  </li>
                  <li>{{ contentItem.description }}</li>
                  {% endfor %}
                </ul>
              </nav>
              {% endif %}
              {% if taxonContent.research_and_analysis.content.length > 0 %}
              <nav role="navigation" aria-labelledby="parent-other">
                <h3>Research and analysis</h3>
                <ul>
                  {% for contentItem in taxonContent.research_and_analysis.atozContent() %}
                  <li>
                    <a href="{{ contentItem.basePath }}">{{ contentItem.title }}</a>
                  </li>
                  <li>{{ contentItem.description }}</li>
                  {% endfor %}
                </ul>
              </nav>
              {% endif %}
            </div>
          </nav>
          {% endif %}


          <nav class="publisher-list">
            <h2>published by</h2>
            <ul>
               <li>
                  <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/education-funding-agency">Education Funding Agency</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/school-teachers-review-body">School Teachers' Review Body</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/student-loans-company">Student Loans Company</a>
               </li>
            </ul>
          </nav>


      {% endblock %}
      {% else %}
      <p>No taxon information available</p>
      {% endif %}
    </div>
  </div>
  </main>

{% endblock %}
