{% extends "layout.html" %}
{% block content %}


<main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}
    <div class="grid-row">
    <div class="column-two-thirds">
      {% if taxon %}
      {% block taxonomy %}
          <h1>{{ taxon.title }}</h1>
          {% if taxon.description %}
          <p>{{ taxon.description }}</p>
          {% endif %}
          <nav class="popular-list">
            <h2><span>Most popular</span></h2>
            <ol>
            {% for document in taxon.popularContent(6) %}
               <li>
                 <a href="{{ document.basePath }}">{{ document.title }}</a>
               </li>
             {% endfor %}
            </ol>
          </nav>

          <nav class="updated-list">
            <h2><span>Latest</span></h2>
            <ol>
              {% for document in taxon.recentContent(3) %}
                 <li>
                   <a href="{{ document.basePath }}">{{ document.title }}</a>
                   <span>{{ document.publicTimestamp | date("fromNow") }}</span>
                 </li>
               {% endfor %}
            </ol>
          </nav>

          {% if taxon.atozChildren().length > 0 %}
          {% for child_taxon in taxon.atozChildren() %}
          <nav role="navigation" aria-labelledby="parent-other" class="full-list">
            <h2>{{ child_taxon.title }}</h2>
            {% if child_taxon.description %}
            <p>{{ child_taxon.description }}</p>
            {% endif %}
            <ul>
              {% for document in child_taxon.popularContent(5) %}
              <li>
                <a href="{{ document.basePath }}">{{ document.title }}</a>
              </li>
              {% endfor %}
            </ul>
            <a class="reveal" href="{{ child_taxon.basePath }}">See everything in {{ child_taxon.title }}</a>
          </nav>
          {% endfor %}
          {% endif %}

          <nav role="navigation" aria-labelledby="parent-other" class="full-list">
            <h2>{{ taxon.title }}</h2>
            <ul>
              {% for contentItem in taxon.content %}
              <li>
                <a href="{{ contentItem.basePath }}">{{ contentItem.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>


          <nav class="publisher-list">
            <h2>published by</h2>
            <ul>
               <li>
                  <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/education-funding-agency">Education Funding Agency</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/school-teachers-review-body">School Teachers' Review Body</a>
               </li>
               <li>
                  <a href="https://www.gov.uk/government/organisations/student-loans-company">Student Loans Company</a>
               </li>
            </ul>
          </nav>


      {% endblock %}
      {% else %}
      <p>No taxon information available</p>
      {% endif %}
    </div>
  </div>
  </main>

{% endblock %}
