{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

  <main id="content" class="taxonomy" role="main">
    {% block breadcrumb %}
      {% include '_breadcrumb.html' %}
    {% endblock %}

    <div class="grid-row">
      <div class="page-header">
        <h1>
          <span class="sub-heading"><a href="{{ parentTaxon.basePath }}">{{ parentTaxon.title }}</a></span>
          {{ taxon.title }}
        </h1>

        <p>Teaching and assessing the curriculum</p>
      </div>
    </div>

    {% if taxon.atozChildren().length > 0 %}

      <!-- Page content for a taxon with children -->

      <div class="grid-row">
        <div class="full-width-column">
          <nav role="navigation" class="child-topics-list">
            <h2>Child topics</h2>
            <ul>
              {% for childTaxon in taxon.atozChildren() %}
                <li>
                  <h3><a href="{{ childTaxon.basePath }}">{{ childTaxon.title }}</a></h3>
                  <p>{{ childTaxon.description }}</p>
                  <p>
                    <a href="{{ childTaxon.basePath }}">View {{ childTaxon.title }} content</a>
                  </p>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="parent-topic-contents">
            {% if taxonContent.guidance.content.length > 0 %}
              <div class="topic-content">
                <h2>{{ taxon.title }} guidance</h2>

                <ul>
                  {% for document in taxonContent.guidance.atozContent() %}
                    {% if loop.index < 11 %}
                      <li>
                        <a href="{{ document.basePath }}">{{ document.title }}</a>
                        <p>{{ document.description }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>

                <p><a href="#">See all {{ taxon.title }} guidance</a></p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}

      <!-- Page content for a taxon with no children -->

      <div class="grid-row child-topic-contents">
        <div class="column-two-thirds">

          {% if taxonContent.guidance.content.length > 0 %}
            <div class="topic-content">
              <h2>{{taxon.title}} guidance</h2>

              <ul>
                {% for document in taxonContent.guidance.atozContent() %}
                  {% if loop.index < 11 %}
                    <li>
                      <h3><a href="{{document.basePath}}">{{document.title}}</a></h3>

                      <p>{{document.description}}</p>
                    </li>
                  {% endif %}
                {% endfor %}
                <p><a href="#">View all {{taxon.title}} guidance</a></p>
              </ul>
            </div>
          {% endif %}

        </div>
      </div>
    {% endif %}

  </main>
{% endblock %}
