{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Content Navigation prototype
{% endblock %}

{% block content %}

<main id="content" class="taxonomy" role="main">
  {% block breadcrumb %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home </a></li>
      <li><a href="#">Education </a></li>
      <li><a href="#">School education (5 to 18 years) </a></li>
      <li><a href="#">School curriculum</a></li>
    </ol>
  </div>
  {% endblock %}

  <div class="grid-row">
    <div class="page-header">
      <a href="child-topic" class="link-back">Back to all guidance</a>

      <h1>
        Key stage 1 (Primary school, years 1 to 3) guidance
      </h1>

      <h2>English</h2>
    </div>
  </div>

  <div class="grid-row child-topic-contents">
    <div class="column-two-thirds">
      <div class="topic-content">
        <ul>
          <li>
            <h3><a href="#">2016 key stage 1 English grammar, punctuation and spelling test: sample questions, mark scheme and commentary</a></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga porro laudantium facere fugit itaque voluptates.</p>
          </li>

          <li>
            <h3><a href="#">2016 key stage 1 English grammar, punctuation and spelling test: sample questions, mark scheme and commentary</a></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga porro laudantium facere fugit itaque voluptates.</p>
          </li>

          <li>
            <h3><a href="#">2016 key stage 1 English grammar, punctuation and spelling test: sample questions, mark scheme and commentary</a></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga porro laudantium facere fugit itaque voluptates.</p>
          </li>

          <li>
            <h3><a href="#">2016 key stage 1 English grammar, punctuation and spelling test: sample questions, mark scheme and commentary</a></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga porro laudantium facere fugit itaque voluptates.</p>
          </li>

          <li>
            <h3><a href="#">2016 key stage 1 English grammar, punctuation and spelling test: sample questions, mark scheme and commentary</a></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga porro laudantium facere fugit itaque voluptates.</p>
          </li>
        </ul>
    </div>

  </div>
</main>

{% endblock %}
